IMU_C++SDK/*
IMU_DDS_Win/objs/x64Win64VS2019/
IMU_DDS_Win/.vs/
IMU_DDS_Win/*.vcxproj
IMU_DDS_Win/*.filters
IMU_DDS_Win/*.user
IMU_DDS_Win/*.sln
IMU_DDS_Win_Sub/objs/x64Win64VS2019/
IMU_DDS_Win_Sub/.vs/
IMU_DDS_Win_Sub/*.vcxproj
IMU_DDS_Win_Sub/*.filters
IMU_DDS_Win_Sub/*.user
IMU_DDS_Win_Sub/*.sln
Controller_SDKlearning/Controller_SDK/Debug/*
Controller_SDKlearning/Controller_SDK/Controller_SDK/Debug/*
Controller_SDKlearning/Controller_SDK/Controller_SDK/*.vcxproj
Controller_SDKlearning/Controller_SDK/Controller_SDK/*.filters
Controller_SDKlearning/Controller_SDK/Controller_SDK/*.user
Controller_SDKlearning/Controller_SDK/*.sln
Controller_SDKlearning/Controller_SDK/.vs/
Controller_DDS_Win/objs/x64Win64VS2019/
Controller_DDS_Win/.vs/
Controller_DDS_Win/*.vcxproj
Controller_DDS_Win/*.filters
Controller_DDS_Win/*.user
Controller_DDS_Win/*.sln
python-elgato-streamdeck/*
StreamDeck_Tests/StreamDeck_Python/.idea/*
StreamDeck_Tests/StreamDeck_Python/venv/*
StreamDeck_Tests/Teleop_CPP/*.vcxproj
StreamDeck_Tests/Teleop_CPP/*.filters
StreamDeck_Tests/Teleop_CPP/*.sln
StreamDeck_Tests/Teleop_CPP/*.user
StreamDeck_Tests/Teleop_CPP/.vs/
StreamDeck_Tests/Vehicle_CPP/*.vcxproj
StreamDeck_Tests/Vehicle_CPP/*.filters
StreamDeck_Tests/Vehicle_CPP/*.sln
StreamDeck_Tests/Vehicle_CPP/*.user
StreamDeck_Tests/Vehicle_CPP/.vs/